
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: rgb(255, 144, 14);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;

}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;

}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    
}
.navbar, .banner{
   max-width: 1108px;
   margin: 0 auto;
    
}
.banner-content{
    max-width: 663px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 600;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(114, 114, 114);
}
.img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .navbar, .nav-link{
        flex-direction: column;
    }
    .banner-title{
        font-size: 3rem;
    }
    .img{
        width: 100%;
    }
}
/* team section */
main{
    max-width: 1108px;
    margin: 0 auto;
}
.team-about{
    display: flex;
    gap: 20px;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
@media screen and (max-width:576px) {
    .team-about{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1,1fr);
    }
    .about-section{
        margin: 30px;
        max-width: 500px;
    }
    .card-items{
        flex-direction: column;
        gap: 10px;
        padding: 70px;
    }
    .text{
        justify-items: center;
    }
    .icons{
        flex-direction: column;
        gap: 25px;
    }
    
}
/* features section */
.card{
    max-width: 240px;
    border: 1px solid thistle;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    gap: 5px;
}
.card-items{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.card-number{
    margin-bottom: 5px;
    margin-top: 5px;
}
.card-title{
    font-weight: 700;
    font-size: 2.75rem;
    color: rgb(19, 19, 19);
    width: 258px;
    margin-top: 150px;
}
.card-description{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(114, 114, 114);
    
}
.card-item{
    margin: 45px 35px;
    
}
/* icon asction */
.sposor{
    text-align: center;
    margin: 50px auto;
    max-width: 540px;
}
.sposor h3{
    color: rgb(19, 19, 19);
    font-weight: 700;
    font-size: 3rem;
}
.icons{
    display: flex;
    justify-content: space-between;
}

.icons img{
    filter: grayscale(100%);
}

footer{
    max-width: 1108px;
    margin: 0 auto;
    background-color:rgb(255, 244, 231) ;
}
.footer{
    text-align: center;
    padding: 40px 0;
    color: rgb(66, 66, 66);
    border-radius: 10px;
    
}